body {
    background: url("../images/food-colleage.jpg");
    font-size: 16px;
}

.food {
    padding: 5px;
    background-color: #008cba;
    color: white;
    border-color: white;
    border-radius: 8px;
    display: inline-block;

}

#foodForm {
    padding: 10px;
}

#addFood {
    padding: 5px;
    background-color: #008cba;
    color: white;
    border-color: white;
    border-radius: 8px;
    display: inline-block;

}

label {
    color: #008cba;
    font-weight: 700;

}

p {
    font-size: 20px;
    color: #008cba;
    font-weight: 700;
}

.gif-group {
    float: left;
    padding: 15px;
}

